.clock {
    min-width: 10rem;
    width: 10rem;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    margin: 0 1rem;
    color: white;
}

.clock.date {
    min-width: 4rem;
    width: 4rem;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

.clock.time {
    min-width: 4rem;
    width: 4rem;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}
