body {
    overflow-x: hidden;
    height: 100%;
}

* {
    font-family: 'TeliaSans', Helvetica, Arial, 'Lucida Grande', sans-serif;
}

#manage-tab,
#notes-tab {
    height: 85vh;
}

#notes-tab>iframe,
#manage-tab>iframe,
#dev-tab>iframe {
    border: none;
    width: 100%;
    height: 100%;
}
