:root {
    --lc-burgundy-dark: #481335;
    --lc-burgundy-dark-80: #693E59;
    --lc-burgundy-muted: #B48994;
    --lc-burgundy-light: #EA4A72;
    --lc-stone: #EBEBE8;
    --lc-grey-dark: #3A3B3C;
    --lc-blue-dark: #0F2846;
    --lc-blue-light: #85BEDA;
    --lc-green-dark: #19372E;
    --lc-green-light: #9AAC83;
}
